<div class="card bg-transparent m-4" style="flex: 0 0 30%;">
  <ul class=" bg-transparent list-group list-group-flush">
    <li (click)="openModal('repuestosneumaticos')" class="list-group-item">NEUMATICOS</li>
    <li (click)="openModal('kitsaa')" class="list-group-item">KIT SAA</li>
    <li (click)="openModal('inoxidable')" class="list-group-item">INOXIDABLES</li>
    <li (click)="openModal('forjas')" class="list-group-item">FORJAS</li>
    <li (click)="openModal('antirrobo')" class="list-group-item">ANTIRROBO</li>
  </ul>
</div>
