:host {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--dark);
  background-image: url(../../../assets/img/repuestos.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.card {
  opacity: 0.9;
}


.list-group-item {
  font-size: 1.3rem;
  font-weight: bolder;
}
