<main>
  <router-outlet></router-outlet>
</main>
<div id="menu" class="d-flex flex-column">
  <ul class="h-100 d-flex align-items-center">
    <li [routerLink]="['/perfneum']" routerLinkActive="router-link-active" class="list-inline-item">
      PERFORADORAS NEUMATICAS
    </li>
    <li [routerLink]="['/perfhidr']" routerLinkActive="router-link-active" class="list-inline-item">
      PERFORADORAS HIDRAULICAS
    </li>
    <li [routerLink]="['/repuestos']" class="list-inline-item">
      REPUESTOS
    </li>
    <li [routerLink]="['/empujmalla']" class="list-inline-item">
      EMPUJADOR DE MALLA
    </li>
    <li [routerLink]="['/viga']" class="list-inline-item">
      VIGA
    </li>
    <li class="list-inline-item">
      JUEGOS
    </li>
  </ul>
</div>
