<div class="main">
  <div class="header">
    <h1>PERFORADORAS</h1>
    <h1>HIDRAULICAS</h1>
  </div>
  <div class="menu d-flex flex-column">
    <div class="col d-flex align-items-center justify-content-center">
      <button type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-S83FX</button>
      <button type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-S83FX</button>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <button type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-S83FX</button>
      <button type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-S83FX</button>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <button type="button" class="w-25 p-4 btn btn-secondary btn-lg m-2">RN-S83FX</button>
      <button type="button" class="w-25 p-4 btn btn-secondary btn-lg m-2">RN-S83FX</button>
    </div>
  </div>
</div>
