<div class="main">
  <div class="header d-flex">
    <div class="col">
      <h1>PERFORADORAS</h1>
      <h1>HIDRAULICAS</h1>
    </div>
    <div>
      <img class="float-right" src="assets/img/logo.png" alt="">
    </div>
  </div>
  <div class="menu d-flex flex-column">
    <div class="col d-flex align-items-center justify-content-center">
      <button (click)="openModal('RN200')" type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-200</button>
      <button (click)="openModal('RN0338')" type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-0338</button>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <button type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-300</button>
      <button (click)="openModal('RN0238')" type="button" class="w-25 p-4 btn btn-primary btn-lg m-2">RN-0238</button>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <button (click)="openModal('RN200vsRN300')" type="button" style="width: 35% !important;"
        class="p-4 btn btn-secondary btn-lg m-2">RN-300 vs RN-200</button>
      <button (click)="openModal('RN0238vsRN0338')" type="button" style="width: 35% !important;"
        class="p-4 btn btn-secondary btn-lg m-2">RN-0338 vs RN-0238</button>
    </div>
  </div>
</div>
